# Carga de información

## Importando librerias

In [14]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
from plotly import express as px
import plotly.graph_objects as go
import numpy as np 
plt.style.use('seaborn')

In [13]:
!pip install seaborn

Requirement already satisfied: seaborn in c:\anaconda\lib\site-packages (0.10.1)
Requirement already satisfied: scipy>=1.0.1 in c:\anaconda\lib\site-packages (from seaborn) (1.5.0)
Requirement already satisfied: pandas>=0.22.0 in c:\anaconda\lib\site-packages (from seaborn) (1.0.5)
Requirement already satisfied: numpy>=1.13.3 in c:\anaconda\lib\site-packages (from seaborn) (1.18.5)
Requirement already satisfied: matplotlib>=2.1.2 in c:\anaconda\lib\site-packages (from seaborn) (3.2.2)
Requirement already satisfied: pytz>=2017.2 in c:\anaconda\lib\site-packages (from pandas>=0.22.0->seaborn) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\anaconda\lib\site-packages (from pandas>=0.22.0->seaborn) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\anaconda\lib\site-packages (from matplotlib>=2.1.2->seaborn) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\anaconda\lib\site-packages (from matplotlib>=2.1.2->seaborn) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\anaconda\lib\site-packages (from matplotlib>=2.1.2->seaborn) (0.10.0)
Requirement already satisfied: six>=1.5 in c:\anaconda\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.22.0->seaborn) (1.15.0)

## Paleta de colores (seaborn)

In [2]:
paleta = 'flare_r'

## Carga de la base de datos

In [3]:
df = pd.read_csv('../data/synergy_logistics_database.csv', index_col='register_id')
display(df)

,direction,origin,destination,year,date,product,transport_mode,company_name,total_value
register_id,,,,,,,,,
1,Exports,Japan,China,2015,31/01/15,Cars,Sea,Honda,33000000
2,Exports,Japan,China,2015,01/02/15,Cars,Sea,Honda,16000000
3,Exports,Japan,China,2015,02/02/15,Cars,Sea,Honda,29000000
4,Exports,Japan,China,2015,03/02/15,Cars,Sea,Honda,14000000
5,Exports,Japan,China,2015,04/02/15,Cars,Sea,Honda,17000000
...,...,...,...,...,...,...,...,...,...
19052,Imports,Japan,Singapore,2020,27/06/20,Gas turbines,Sea,Union Energy Co,1000000
19053,Imports,Malaysia,Singapore,2020,28/06/20,Gas turbines,Sea,Union Energy Co,2000000
19054,Imports,Malaysia,Singapore,2020,29/06/20,Gas turbines,Sea,Union Energy Co,33000000
19055,Imports,Malaysia,Singapore,2020,30/06/20,Gas turbines,Sea,Union Energy Co,13000000
19056,Imports,Malaysia,Singapore,2020,01/07/20,Gas turbines,Sea,Union Energy Co,30000000

Asiganmos el tipo de dato [datetime] a la columna **date**

In [4]:
df['date'] = pd.to_datetime(df['date'], format='%d/%m/%y')
display(df)

,direction,origin,destination,year,date,product,transport_mode,company_name,total_value
register_id,,,,,,,,,
1,Exports,Japan,China,2015,2015-01-31,Cars,Sea,Honda,33000000
2,Exports,Japan,China,2015,2015-02-01,Cars,Sea,Honda,16000000
3,Exports,Japan,China,2015,2015-02-02,Cars,Sea,Honda,29000000
4,Exports,Japan,China,2015,2015-02-03,Cars,Sea,Honda,14000000
5,Exports,Japan,China,2015,2015-02-04,Cars,Sea,Honda,17000000
...,...,...,...,...,...,...,...,...,...
19052,Imports,Japan,Singapore,2020,2020-06-27,Gas turbines,Sea,Union Energy Co,1000000
19053,Imports,Malaysia,Singapore,2020,2020-06-28,Gas turbines,Sea,Union Energy Co,2000000
19054,Imports,Malaysia,Singapore,2020,2020-06-29,Gas turbines,Sea,Union Energy Co,33000000
19055,Imports,Malaysia,Singapore,2020,2020-06-30,Gas turbines,Sea,Union Energy Co,13000000
19056,Imports,Malaysia,Singapore,2020,2020-07-01,Gas turbines,Sea,Union Energy Co,30000000

In [5]:
df['destination'].replace({'United Kingdom':'UK'}, inplace = True)

## Análisis exploratorio

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19056 entries, 1 to 19056
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   direction       19056 non-null  object
 1   origin          19056 non-null  object
 2   destination     19056 non-null  object
 3   year            19056 non-null  int64
 4   date            19056 non-null  datetime64[ns]
 5   product         19056 non-null  object
 6   transport_mode  19056 non-null  object
 7   company_name    19056 non-null  object
 8   total_value     19056 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(6)
memory usage: 1.5+ MB

In [7]:
df.describe()

               year   total_value
count  19056.000000  1.905600e+04
mean    2017.496327  1.131881e+07
std        1.706975  1.536656e+07
min     2015.000000  0.000000e+00
25%     2016.000000  6.400000e+04
50%     2017.000000  5.000000e+06
75%     2019.000000  1.600000e+07
max     2020.000000  2.850000e+08

# Rutas mas comerciales

## Destinos comerciales en general

Creamos un array para conocer los destinos mas recurridos en base a contar las veces que aparece en el data frame

In [8]:
destinos_array = []
[destinos_array.append([country, df[df['destination'] == country].destination.count()]) for country in df['destination'].unique()]
print(destinos_array)

[['China', 1503], ['USA', 1546], ['South Korea', 415], ['Spain', 632], ['Italy', 422], ['Japan', 1072], ['Germany', 1179], ['Mexico', 1836], ['Brazil', 903], ['France', 893], ['Switzerland', 194], ['UK', 531], ['Croatia', 30], ['Ireland', 162], ['Belgium', 1248], ['Argentina', 393], ['Singapore', 586], ['Canada', 857], ['Netherlands', 699], ['Belorussia', 219], ['Turkey', 80], ['India', 180], ['Vietnam', 497], ['Russia', 295], ['United Arab Emirates', 615], ['Thailand', 1032], ['Philippines', 114], ['Peru', 44], ['Austria', 66], ['New Zealand', 249], ['Rusia', 204], ['Slovakia', 94], ['Malaysia', 89], ['Poland', 177]]

In [9]:
df_destinos = pd.DataFrame(destinos_array, columns=['País', 'Rating'])
df_destinos.set_index('País', inplace=True)
display(df_destinos)

                      Rating
País
China                   1503
USA                     1546
South Korea              415
Spain                    632
Italy                    422
Japan                   1072
Germany                 1179
Mexico                  1836
Brazil                   903
France                   893
Switzerland              194
UK                       531
Croatia                   30
Ireland                  162
Belgium                 1248
Argentina                393
Singapore                586
Canada                   857
Netherlands              699
Belorussia               219
Turkey                    80
India                    180
Vietnam                  497
Russia                   295
United Arab Emirates     615
Thailand                1032
Philippines              114
Peru                      44
Austria                   66
New Zealand              249
Rusia                    204
Slovakia                  94
Malaysia                  89
Poland                   177

Ordenando la lista de paises mas comerciales

In [10]:
df_destinos.sort_values(by = 'Rating', ascending=False, inplace=True)
df_destinos.head()

         Rating
País
Mexico     1836
USA        1546
China      1503
Belgium    1248
Germany    1179

### Plot destinos comerciales

Seaborn plot

In [12]:
plt.figure(figsize=(45,12))
sns.barplot(
    x = df_destinos.index, 
    y = df_destinos['Rating'],
    palette=paleta
    )
plt.title('Destinos comerciales mas populares', fontdict={'fontsize':25})
plt.xlabel('País')
plt.ylabel('Valor')
plt.show()

ValueError: flare_r is not a valid palette name

Plotly plot

In [ ]:
fig1 = px.bar(df_destinos, x = df_destinos.index, y = 'Rating', title='Destinos comerciales mas populares')
fig1.show()

Plotly pieplot

In [ ]:
fig = px.pie(df_destinos, values='Rating', names=df_destinos.index, title='Composición (%) de los destinos comerciales mas populares')
fig.update_traces(textposition='inside')
# fig.update_layout(uniformtext_minsize=12, uniformtext_mode='hide')
fig.show()

## Destinos comerciales por importación y exportación

Filtramos las importaciones y exportaciones en dos df diferentes

In [ ]:
df_Exports = df[df['direction'] == 'Exports']
df_Imports = df[df['direction'] == 'Imports']

In [ ]:
exports_array = []
[exports_array.append([country,df_Exports[df_Exports['destination'] == country].destination.count()]) for country in df['destination'].unique()]
print(exports_array)

In [ ]:
imports_array = []
[imports_array.append([country, df_Imports[df_Imports['destination'] == country].destination.count()]) for country in df['destination'].unique()]
print(imports_array)

Hacer el array un df

In [ ]:
df_Imports_ranking = pd.DataFrame(data = imports_array, columns=['País', 'Raiking'])
df_Imports_ranking.set_index('País', inplace=True)
df_Imports_ranking.head()

In [ ]:
df_Exports_ranking = pd.DataFrame(data = exports_array, columns=['País', 'Raiking'])
df_Exports_ranking.set_index('País', inplace=True)
df_Exports_ranking.head()

Ordenamiento de valores

In [ ]:
df_Exports_ranking.sort_values(by='Raiking', ascending=False, inplace = True)
df_Imports_ranking.sort_values(by='Raiking', ascending=False, inplace = True)

In [ ]:
display(df_Exports_ranking)

In [ ]:
display(df_Imports_ranking)

Filtrado de paises

In [ ]:
df_Imports_ranking.iloc[:10]

In [ ]:
df_Exports_ranking.iloc[:10]

### Plot TOP países Importaciones

Seaborn plot

In [ ]:
plt.figure(figsize=(20, 8))
sns.barplot(
    x = df_Imports_ranking.iloc[:10].index,
    y = df_Imports_ranking['Raiking'].iloc[:10],
    palette = paleta
)
plt.title('Países con mayor cantidad de importaciones', fontdict={'fontsize':15})
plt.xlabel('Países')
plt.ylabel('Valores')
plt.show()

plotly plot

In [ ]:
fig1 = px.bar(
    x = df_Imports_ranking.iloc[:10].index, 
    y = df_Imports_ranking['Raiking'].iloc[:10], 
    title='Países con mayor cantidad de importaciones'
    )
fig1.show()

### Plot TOP países Exportaciones

Seaborn plot

In [ ]:
plt.figure(figsize=(20,8))
sns.barplot(
    x = df_Exports_ranking.iloc[:10].index, 
    y = df_Exports_ranking['Raiking'].iloc[:10], 
    palette=paleta
)
plt.title('Países con mayor cantidad de exportaciones')
plt.xlabel('Países')
plt.ylabel('Valores')
plt.show()

Plotly plot

In [ ]:
fig1 = px.bar(
    x = df_Exports_ranking.iloc[:10].index, 
    y = df_Exports_ranking['Raiking'].iloc[:10],
    title='Países con mayor cantidad de exportaciones'
)
fig1.show()

# Transportes mas usados

## Preparando la información

Buscamos la forma:


[country, imports, exports]

In [ ]:
array_trans_raiking = []
for country in df['transport_mode'].unique():
    imports = df[(df['transport_mode'] == country) & (df['direction'] == 'Imports')].direction.count()
    exports = df[(df['transport_mode'] == country) & (df['direction'] == 'Exports')].direction.count()
    array_trans_raiking.append([country, [imports, exports]])
print(array_trans_raiking)

In [ ]:
df_trans_mas_usados = pd.DataFrame(dict(array_trans_raiking), index=['Importaciones', 'Exportaciones']).transpose()
display(df_trans_mas_usados)

In [ ]:
array_top_tran_x = []
array_top_tran_m = []
for trans_mode in df['transport_mode'].unique():
    array_top_tran_x.append([trans_mode, df[(df['transport_mode'] == trans_mode) & (df['direction'] == 'Exports')].total_value.sum()])
    array_top_tran_m.append([trans_mode, df[(df['transport_mode'] == trans_mode) & (df['direction'] == 'Imports')].total_value.sum()])

print(array_top_tran_m)
print(array_top_tran_x)

In [ ]:
series1 = pd.Series(dict(array_top_tran_m), name = 'Total_Importaciones')
series2 = pd.Series(dict(array_top_tran_x), name = 'Total_Exportaciones')
df_trans_value = pd.concat([series1, series2], axis=1)
display(df_trans_value)

## Plot medios mas usados (importaciones)

In [ ]:
plt.figure(figsize=(10,7))
sns.barplot(
    x = df_trans_mas_usados.index, 
    y = df_trans_mas_usados['Importaciones'],
    palette = paleta
    )
plt.title('Medios de transporte mas demandados (importaciones)',  fontdict = {'fontsize' : 15})
plt.xlabel('Medios de transporte')
plt.ylabel('Volumen')
plt.show()

## Plot medios mas usados (exportaciones)

In [ ]:
plt.figure(figsize=(10,7))
sns.barplot(
    x = df_trans_mas_usados.index, 
    y = df_trans_mas_usados['Exportaciones'],
    palette = paleta
    )
plt.title('Medios de transporte mas demandados (exportaciones)',  fontdict = {'fontsize' : 15})
plt.xlabel('Medios de transporte')
plt.ylabel('Volumen')
plt.show()

## Plot medios de transporte mas usados (valor total de importaciones y exportación)

In [ ]:
plt.figure(figsize=(10,7))
sns.barplot(
    x = df['transport_mode'], 
    y = df['total_value'],
    palette = paleta
    )
plt.title('Medios de transporte mas demandados  según valor del producto',  fontdict = {'fontsize' : 15})
plt.xlabel('Destinos')
plt.ylabel('Volumen')
plt.show()

In [ ]:
plt.figure(figsize=(10,7))
sns.barplot(
    x = df['transport_mode'], 
    y = df['total_value'], 
    hue = df['direction'],
    order= ['Air', 'Rail', 'Sea', 'Road'],
    palette = paleta
    )
plt.title('Medios de transporte mas demandados',  fontdict = {'fontsize' : 15})
plt.xlabel('Destinos')
plt.ylabel('Volumen')
plt.show()

In [ ]:
array_top_tran_x = []
array_top_tran_m = []
for trans_mode in df['transport_mode'].unique():
    array_top_tran_x.append([trans_mode, df[(df['transport_mode'] == trans_mode) & (df['direction'] == 'Exports')].total_value.sum()])
    array_top_tran_m.append([trans_mode, df[(df['transport_mode'] == trans_mode) & (df['direction'] == 'Imports')].total_value.sum()])

print(array_top_tran_m)
print(array_top_tran_x)

In [ ]:
plt.figure(figsize=(10,7))
sns.catplot(
    data=df, 
    x = 'year', 
    hue = 'transport_mode', 
    kind = 'count',
    height=6,
    aspect=1.5,
    palette=paleta
    )
plt.title('Transportes mas demandados por año', fontdict={'fontsize':15})
plt.xlabel('Año')
plt.ylabel('Cantidad')
plt.show()

# Países que mas importan y exportan

## Preparando la información

Realizamos un filtrado donde unicamente nos muestre un unico país en caracter de importador o exportador, posteriormente accedemos a la columna [total_value] la cual contiene el valor de las importaciones y exportaciones individuales del país seleccionado. Finalmente, usamos la función [sum()] para calcular la suma de la columna [total_value] que nos reflejará el valor total de las importaciones o exportaciones para el país elegido. 
La operación anterior se puede llevar a cabo con el comando: 


- df[(df['destination'] == 'China') & (df['direction'] == 'Imports')].total_value.sum()
- df[(df['destination'] == 'China') & (df['direction'] == 'Exports')].total_value.sum()


que tiene la forma general de realizar un filtrado con condiciones multiples de pandas [df[(*condición1*) & (*condición2*) & ... (*condición_n*)]] el cual arrojará un valor que posteriormente almacenaremos en una lista junto con el nombre del país correspondiente, resultando la forma:

- array_país_importación[['país1', *valor_total_exportaciones_país1*], ['país2', *valor_total_exportaciones_país2*], ... ['país_n', *valor_total_exportaciones_país_n*]]

In [ ]:
df[(df['destination'] == 'China') & (df['direction'] == 'Exports')].total_value.sum()

In [ ]:
array_pais_importacion = []
[array_pais_importacion.append([country, df[(df['destination'] == country) & (df['direction'] == 'Imports')].total_value.sum()]) for country in df['destination'].unique()]
print(array_pais_importacion)

In [ ]:
array_pais_exportacion = []
[array_pais_exportacion.append([country, df[(df['destination'] == country) & (df['direction'] == 'Exports')].total_value.sum()]) for country in df['destination'].unique()]
print(array_pais_exportacion)

In [ ]:
array_pais_total = []
[array_pais_total.append([country, df[df['destination'] == country].total_value.sum()]) for country in df.destination.unique()]
print(array_pais_total)

In [ ]:
series1 = pd.Series(dict(array_pais_exportacion), name='Exportaciones')
series2 = pd.Series(dict(array_pais_importacion), name = 'Importaciones')
series3 = pd.Series(dict(array_pais_total), name = 'Total')
df_paises_raiting = pd.concat([series1, series2, series3], axis=1)
display(df_paises_raiting)

## Países con mayor valor de importaciones

In [ ]:
plt.figure(figsize=(15,7))
sns.barplot(
    x = df_paises_raiting.sort_values(by='Importaciones', ascending=False).iloc[:10].index, 
    y = df_paises_raiting.sort_values(by = 'Importaciones', ascending=False).iloc[:10].Importaciones,
    palette = paleta
)
plt.title('Países con mayor valor total en importaciones', fontdict={'fontsize':15})
plt.xlabel('Países')
plt.ylabel('Valor total de importaciones')
plt.show()

## Países con mayor valor de Exportación

In [ ]:
plt.figure(figsize=(15,7))
sns.barplot(
    x = df_paises_raiting.sort_values(by='Exportaciones', ascending=False).iloc[:10].index, 
    y = df_paises_raiting.sort_values(by = 'Exportaciones', ascending=False).iloc[:10].Exportaciones,
    palette = paleta
)
plt.title('Países con mayor valor total en Exportaciones', fontdict={'fontsize':15})
plt.xlabel('Países')
plt.ylabel('Valor total de Exportaciones')
plt.show()

In [ ]:
plt.figure(figsize=(15,7))
sns.barplot(
    x = df_paises_raiting.sort_values(by='Total', ascending=False).iloc[:10].index, 
    y = df_paises_raiting.sort_values(by = 'Total', ascending=False).iloc[:10].Total,
    palette = paleta
)
plt.title('Países con mayor valor en importaciones y exportaciones', fontdict={'fontsize':15})
plt.xlabel('Países')
plt.ylabel('Valor total de Exportaciones')
plt.show()

# Consolidado

In [ ]:
fig, ax = plt.subplots(figsize = (20, 20))

ax1 = plt.subplot2grid(shape=(3,3), loc=(0,0))  
ax2 = plt.subplot2grid(shape=(3,3), loc=(0,1))
ax3 = plt.subplot2grid(shape=(3,3), loc=(1,0))
ax4 = plt.subplot2grid(shape=(3,3), loc=(1,1))
ax5 = plt.subplot2grid(shape=(3,3), loc=(2,0), colspan=2)

ax1.pie(
    labels = df_trans_mas_usados.index, 
    x = df_trans_mas_usados['Importaciones'],
    colors = colors2, autopct='%.0f%%', explode=(0.1, 0, 0, 0)
)
ax1.set_title('Más demandados (importaciones)')

ax2.pie(
    labels = df_trans_mas_usados.index, 
    x = df_trans_mas_usados['Exportaciones'],
    colors = colors2, autopct='%.0f%%', explode=(0.1, 0, 0, 0)
)
ax2.set_title('Más demandados (exportaciones)')

ax3.pie(
    labels = df_trans_value.index, 
    x = df_trans_value['Total_Importaciones'],
    colors = colors2, autopct='%.0f%%', explode=(0.1, 0, 0, 0)
)
ax3.set_title('Más demandados según valor del producto (importaciones)')

ax4.pie(
    labels = df_trans_value.index, 
    x = df_trans_value['Total_Exportaciones'], 
    colors = colors2, autopct='%.0f%%', explode=(0.1, 0, 0, 0)
)
ax4.set_title('Más demandados según valor del producto (exportaciones)')

ax5 = sns.barplot( 
    x = df['year'],
    y = df['total_value'], 
    hue = df['transport_mode'],
    palette=paleta
    )
ax5.set_title('Transportes mas demandados por año')

In [ ]:
colors = sns.color_palette(paleta)
colors2 = sns.color_palette('Reds')

fig, ax = plt.subplots(figsize = (20, 20))


ax1 = plt.subplot2grid(shape=(3, 3), loc=(1, 0))
ax2 = plt.subplot2grid(shape=(3, 3), loc=(1, 1))
ax3 = plt.subplot2grid(shape=(3, 3), loc=(0, 0), colspan=2)

ax1.pie(
    labels = df_paises_raiting.sort_values(by='Importaciones', ascending=False).iloc[:10].index, 
    x = df_paises_raiting.sort_values(by = 'Importaciones', ascending=False).iloc[:10].Importaciones, 
    colors = colors2, autopct='%.0f%%', explode=(0.1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
    )
ax1.set_title('Países con mayor valor total en Importaciones')
ax2.pie(
    labels = df_paises_raiting.sort_values(by='Exportaciones', ascending=False).iloc[:10].index, 
    x = df_paises_raiting.sort_values(by = 'Exportaciones', ascending=False).iloc[:10].Exportaciones, 
    colors = colors2, autopct='%.0f%%', explode=(0.1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
    )
ax2.set_title('Países con mayor valor total en Exportaciones')
ax3 = sns.barplot(
    x = df_paises_raiting.sort_values(by='Total', ascending=False).iloc[:10].index, 
    y = df_paises_raiting.sort_values(by = 'Total', ascending=False).iloc[:10].Total,
    palette = paleta
    )   
ax3.set_title('Países con mayor valor en importaciones y exportaciones')

plt.suptitle('Resumen', fontsize = 30, x = 0.37)